In [1]:
import pandas as pd

In [2]:
d = pd.read_csv('all_news_16.csv')

In [3]:
d.head()

,SEMANA,DÍA EN NÚMERO DE LA SEMANA,DÍA DE LA SEMANA,MES,NOMBRE MEDIO,TIER,CORRESPONSAL 1,CORRESPONSAL 2,ENCABEZADO,TEMA,...,ACTOR OFICIAL 3,ACTOR NO OFICIAL 1,ACTOR NO OFICIAL 2,ACTOR NO OFICIAL 3,ESTADO DE LA REPÚBLICA,ESTADO DE LA REPÚBLICA 2,TENDENCIA,IMPRESA,PRIMERA PLANA,AÑO
0,1,1,Viernes,Enero,La Opinión,3,Gardenia Mendoza Aguilar,ND,Neva a 10 bajo cero y… ¡quieren cruzar la fron...,Social/Turismo,...,ND,Fronteras Compasivas,Coalición de Derechos Humanos de Tucson,ND,Varios,ND,Informativa,SÍ,SÍ,2016
1,1,1,Viernes,Enero,Wall Street Journal,4,Anthony Richard Harrup,ND,"Mexican E-Commerce Grows, but Requires Some Co...",Económico,...,ND,Amazon,Linio,Liverpool,ND,ND,Balanceada,NO,NO,2016
2,1,1,Viernes,Enero,Univision,4,ND,ND,México estrena número nacional para emergencia...,Presidente,...,ND,Cruz Roja,ND,ND,ND,ND,Positiva,NO,NO,2016
3,1,2,Sábado,Enero,San Diego Union Tribune,2,ND,ND,Suspicious fire destroys vehicles at U.S. Cons...,Social/Turismo,...,PGR,ND,ND,ND,Baja California,ND,Informativa,NO,NO,2016
4,1,2,Sábado,Enero,Fox News,4,ND,ND,FBI investigating fire that destroyed cars out...,Social/Turismo,...,Preeti Shah,San Diego Union Tribune,ND,ND,Baja California,ND,Informativa,NO,NO,2016

In [4]:
d.shape

(8061, 25)

In [5]:
list(d)

['SEMANA',
 'DÍA EN NÚMERO DE LA SEMANA',
 'DÍA DE LA SEMANA',
 'MES',
 'NOMBRE MEDIO',
 'TIER',
 'CORRESPONSAL 1',
 'CORRESPONSAL 2',
 'ENCABEZADO',
 'TEMA',
 'TEMA 2',
 'PALABRA CLAVE',
 'COYUNTURA',
 'ACTOR OFICIAL 1',
 'ACTOR OFICIAL 2',
 'ACTOR OFICIAL 3',
 'ACTOR NO OFICIAL 1',
 'ACTOR NO OFICIAL 2',
 'ACTOR NO OFICIAL 3',
 'ESTADO DE LA REPÚBLICA',
 'ESTADO DE LA REPÚBLICA  2',
 'TENDENCIA',
 'IMPRESA',
 'PRIMERA PLANA',
 'AÑO']

In [6]:
d.columns = ['week', 'day_number','weekday', 'month','media_outlet', 'tier', 'correspondent_1', 'correspondent_2','header', 'theme', 'theme_2', 'keyword', 'juncture','official_actor', 'official_actor2', 'official_actor3', 'unofficial_actor', 'unofficial_actor2', 'unofficial_actor3', 'state', 'state_2', 'tendency', 'printed', 'front_page','year']

In [7]:
d.head()

,week,day_number,weekday,month,media_outlet,tier,correspondent_1,correspondent_2,header,theme,...,official_actor3,unofficial_actor,unofficial_actor2,unofficial_actor3,state,state_2,tendency,printed,front_page,year
0,1,1,Viernes,Enero,La Opinión,3,Gardenia Mendoza Aguilar,ND,Neva a 10 bajo cero y… ¡quieren cruzar la fron...,Social/Turismo,...,ND,Fronteras Compasivas,Coalición de Derechos Humanos de Tucson,ND,Varios,ND,Informativa,SÍ,SÍ,2016
1,1,1,Viernes,Enero,Wall Street Journal,4,Anthony Richard Harrup,ND,"Mexican E-Commerce Grows, but Requires Some Co...",Económico,...,ND,Amazon,Linio,Liverpool,ND,ND,Balanceada,NO,NO,2016
2,1,1,Viernes,Enero,Univision,4,ND,ND,México estrena número nacional para emergencia...,Presidente,...,ND,Cruz Roja,ND,ND,ND,ND,Positiva,NO,NO,2016
3,1,2,Sábado,Enero,San Diego Union Tribune,2,ND,ND,Suspicious fire destroys vehicles at U.S. Cons...,Social/Turismo,...,PGR,ND,ND,ND,Baja California,ND,Informativa,NO,NO,2016
4,1,2,Sábado,Enero,Fox News,4,ND,ND,FBI investigating fire that destroyed cars out...,Social/Turismo,...,Preeti Shah,San Diego Union Tribune,ND,ND,Baja California,ND,Informativa,NO,NO,2016

In [8]:
d['printed'].replace(['NO', 'SÍ', 'Sí', 'No', 'no', 'sí', 'nO'], [False, True, True, False, False, True, False], inplace=True)
d['front_page'].replace(['NO', 'SÍ', 'Sí', 'No', 'no', 'sí', 'nO'], [False, True, True, False, False, True, False], inplace=True)
d.replace(['ND', 'nD', 'nd', 'Nd'], [False, False, False, False], inplace=True)
d['weekday'].replace(['Lunes','Martes','Miércoles','Jueves','Viernes','Sábado','Domingo'], ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'], inplace=True)
d['month'].replace(['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],['January','February','March','April','May','June','July','August','September','October','November','December'], inplace=True)
d['tendency'].replace(['Positiva', 'Negativa', 'Balanceada', 'Informativa'],['Positive','Negative','Balanced','Informational'], inplace=True)

In [9]:
weekday_values = d['weekday'].unique().tolist()
sorted(weekday_values)

['Friday',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 'domingo',
 'jueves',
 'lunes',
 'viernes']

In [10]:
d['weekday'].replace(['domingo','jueves', 'lunes', 'viernes'], ['Sunday','Thursday','Monday','Friday'], inplace=True)

In [11]:
month_values = d['month'].unique().tolist()
sorted(month_values)

['April',
 'August',
 'December',
 'February',
 'January',
 'July',
 'June',
 'March',
 'May',
 'November',
 'October',
 'September',
 'junio',
 'marzo',
 'mayo']

In [12]:
d['month'].replace(['junio','marzo','mayo'], ['June','March','May'], inplace=True)

In [13]:
printed_values = d['printed'].unique().tolist()
print(printed_values)

[True, False]

In [14]:
fpage_values = d['front_page'].unique().tolist()
print(fpage_values)

[True, False]

In [15]:
tendency_values = d['tendency'].unique().tolist()
print(tendency_values)

['Informational', 'Balanced', 'Positive', 'Negative']

In [16]:
print(d.isnull().sum())

week                 0
day_number           0
weekday              0
month                0
media_outlet         1
tier                 0
correspondent_1      2
correspondent_2      0
header               0
theme                0
theme_2              3
keyword              0
juncture             0
official_actor       0
official_actor2      0
official_actor3      1
unofficial_actor     0
unofficial_actor2    0
unofficial_actor3    0
state                0
state_2              1
tendency             0
printed              0
front_page           0
year                 0
dtype: int64

In [17]:
d.dropna(subset=['media_outlet'], inplace=True)

In [18]:
d.fillna(False, inplace=True)

In [19]:
print("Before droping duplicates")
length1 = len(d)
print(length1)

Before droping duplicates
8060

In [20]:
d.drop_duplicates(subset ="header", keep = 'last', inplace = True)
print("After droping duplicates")
length2 = len(d)
print(length2)

After droping duplicates
7815

In [21]:
media_names = d['media_outlet'].unique().tolist()
sorted(media_names)

['ABC News',
 'Arizona Daily Star',
 'Arizona Republic',
 'Bloomberg',
 'Business Insider',
 'Business Year',
 'Buzzfeed',
 'CBS News',
 'CBS news',
 'CNBC',
 'CNN',
 'CNN En Español',
 'CNN En español',
 'CNN en Español',
 'CNN en español',
 'Chicago Tribune',
 'Christian Science Monitor',
 'Condé Nast',
 'Council on Foreign Relations',
 'Daily Beast',
 'Dallas Morning News',
 'Dallas Morning news',
 'Deadline',
 'Denver Post',
 'El Diario de El Paso',
 'El Nuevo Herald',
 'El Paso Times',
 'Esquire',
 'Forbes',
 'Foreign Affairs',
 'Foreign Policy',
 'Foreign policy',
 'Fox NEws',
 'Fox News',
 'Fusion',
 'GQ',
 'Global Post',
 'Houston Chronicle',
 'Huffington POst',
 'Huffington Post',
 'Huffington post',
 'La Opinión',
 'La opinión',
 'Las Vegas Review Journal',
 'Los Angeles Times',
 'Los Angeles times',
 'Los angeles Times',
 'MSNBC',
 'McClatchy',
 'Miami Herald',
 'NBC NEWS',
 'NBC News',
 'NPR',
 'New York Post',
 'New York Times',
 'New York Times Español',
 'New York Times español',
 'New York times',
 'New Yorker',
 'Newsday',
 'Newsweek',
 'Politico',
 'Politifact',
 'Político',
 'Quartz',
 'Rolling Stone',
 'Sacramento Bee',
 'San Antonio Express News',
 'San Diego Union Tribune',
 'San Francisco Gate',
 'Slate',
 'Star Telegram',
 'Star Tribune',
 'Stratfor',
 'TIME',
 'Telemundo',
 'The Atlantic',
 'The Daily Beast',
 'The Detroit News',
 'The Hill',
 'Time',
 'USA Today',
 'Univision',
 'Univisión',
 'Univsion',
 'Usa Today',
 'VICE',
 'VICE News',
 'Vice',
 'Vice News',
 'Vice news',
 'Wall Street Journal',
 'Wall Street Journal español',
 'Washington Post',
 'Washington Times',
 'la Opinión']

In [24]:
d['media_outlet'].replace('Time', 'TIME', inplace=True)
d['media_outlet'].replace('Buzfeed', 'Buzzfeed', inplace=True)
d['media_outlet'].replace('Fox NEws', 'Fox News', inplace=True)
d['media_outlet'].replace('Wall Street JOurnal', 'Wall Street Journal', inplace=True)
d['media_outlet'].replace('CBS news', 'CBS News', inplace=True)
d['media_outlet'].replace('New York times', 'New York Times', inplace=True)
d['media_outlet'].replace('San diego Union Tribune', 'San Diego Union Tribune', inplace=True)
d['media_outlet'].replace('Breibart', 'Breitbart', inplace=True)
d['media_outlet'].replace('Usa Today', 'USA Today', inplace=True)
d['media_outlet'].replace('Los Angeles times', 'Los Angeles Times', inplace=True)
d['media_outlet'].replace('Daily Beast', 'The Daily Beast', inplace=True)
d['media_outlet'].replace('Dallas Morning news', 'Dallas Morning News', inplace=True)
d['media_outlet'].replace('Huffington post', 'Huffington Post', inplace=True)
d['media_outlet'].replace('Foreign policy', 'Foreign Policy', inplace=True)
d['media_outlet'].replace('NBC NEWS', 'NBC News', inplace=True)
d['media_outlet'].replace('Los angeles Times', 'Los Angeles Times', inplace=True)
d['media_outlet'].replace('Time', 'TIME', inplace=True)
d['media_outlet'].replace('Buzfeed', 'Buzzfeed', inplace=True)
d['media_outlet'].replace(['Fox NEws', 'Fox NEWS'], ['Fox News', 'Fox News'], inplace=True)
d['media_outlet'].replace(['Wall Street JOurnal', 'Wall Street journal', 'Wall street Journal'], ['Wall Street Journal', 'Wall Street Journal', 'Wall Street Journal'], inplace=True)
d['media_outlet'].replace(['CBS news', 'Cbs News'] , ['CBS News', 'CBS News'], inplace=True)
d['media_outlet'].replace('New York times', 'New York Times', inplace=True)
d['media_outlet'].replace(['San diego Union Tribune', 'San Diego Union tribune'], ['San Diego Union Tribune', 'San Diego Union Tribune'], inplace=True)
d['media_outlet'].replace(['Breibart','Breirbart News', 'Breitbart News'] , ['Breitbart', 'Breitbart', 'Breitbart'], inplace=True)
d['media_outlet'].replace(['Usa Today', 'USA today'], ['USA Today', 'USA Today'], inplace=True)
d['media_outlet'].replace('Los Angeles times', 'Los Angeles Times', inplace=True)
d['media_outlet'].replace('Daily Beast', 'The Daily Beast', inplace=True)
d['media_outlet'].replace('Dallas Morning news', 'Dallas Morning News', inplace=True)
d['media_outlet'].replace(['Huffington post', 'HuffingtON Post'], ['Huffington Post', 'Huffington Post'], inplace=True)
d['media_outlet'].replace('Foreign policy', 'Foreign Policy', inplace=True)
d['media_outlet'].replace(['NBC NEWS', 'NBC news'], ['NBC News', 'NBC News'], inplace=True)
d['media_outlet'].replace('Los angeles Times', 'Los Angeles Times', inplace=True)
d['media_outlet'].replace('ABC', 'ABC News', inplace=True)
d['media_outlet'].replace('ARIZONA Daily Star', 'Arizona Daily Star', inplace=True)
d['media_outlet'].replace('Council on foreign Relations', 'Council on Foreign Relations', inplace=True)
d['media_outlet'].replace('Detroit Free press', 'Detroit Free Press', inplace=True)
d['media_outlet'].replace(['HuffingtON Post','Huffington post'], ['Huffington Post', 'Huffington Post'], inplace=True)
d['media_outlet'].replace('Miami herald', 'Miami Herald', inplace=True)
d['media_outlet'].replace('New yorker', 'New Yorker', inplace=True)
d['media_outlet'].replace(['San Antonio ExPRESS News','San Antonio Express news'], ['San Antonio Express News', 'San Antionio Express News'], inplace=True)
d['media_outlet'].replace(['Washington post','washington Post'], ['Washington Post','Washington Post'], inplace=True)
d['media_outlet'].replace('cnn', 'CNN', inplace=True)
d['media_outlet'].replace('cnbc', 'CNBC', inplace=True)
d['media_outlet'].replace('San Antionio Express News', 'San Antonio Express News', inplace=True)
d['media_outlet'].replace('SAN Diego Union Tribune', 'San Diego Union Tribune', inplace=True)
d['media_outlet'].replace('FUSION', 'Fusion', inplace=True)
d['media_outlet'].replace('Time', 'TIME', inplace=True)
d['media_outlet'].replace('Buzfeed', 'Buzzfeed', inplace=True)
d['media_outlet'].replace('Fox NEws', 'Fox News', inplace=True)
d['media_outlet'].replace('Wall Street JOurnal', 'Wall Street Journal', inplace=True)
d['media_outlet'].replace('CBS news', 'CBS News', inplace=True)
d['media_outlet'].replace('New York times', 'New York Times', inplace=True)
d['media_outlet'].replace('San diego Union Tribune', 'San Diego Union Tribune', inplace=True)
d['media_outlet'].replace('Breibart', 'Breitbart', inplace=True)
d['media_outlet'].replace('Usa Today', 'USA Today', inplace=True)
d['media_outlet'].replace('Los Angeles times', 'Los Angeles Times', inplace=True)
d['media_outlet'].replace('Daily Beast', 'The Daily Beast', inplace=True)
d['media_outlet'].replace('Dallas Morning news', 'Dallas Morning News', inplace=True)
d['media_outlet'].replace('Huffington post', 'Huffington Post', inplace=True)
d['media_outlet'].replace('Foreign policy', 'Foreign Policy', inplace=True)
d['media_outlet'].replace('NBC NEWS', 'NBC News', inplace=True)
d['media_outlet'].replace('Los angeles Times', 'Los Angeles Times', inplace=True)
d['media_outlet'].replace(['Huffington POST','Huffington POst'], ['Huffington Post','Huffington Post'], inplace=True)
d['media_outlet'].replace(['Huffington POST','Huffington POst'], ['Huffington Post','Huffington Post'], inplace=True)
d['media_outlet'].replace(['CNN En Español','CNN En español', 'CNN en Español', 'CNN en español'], ['CNN','CNN','CNN','CNN'], inplace=True)
d['media_outlet'].replace(['La opinión', 'la Opinión'], ['La Opinión','La Opinión'], inplace=True)
d['media_outlet'].replace(['New York Times Español','New York Times español'], ['New York Times','New York Times'], inplace=True)
d['media_outlet'].replace('Político', 'Politico', inplace=True)
d['media_outlet'].replace(['Univisión','Univsion'], ['Univision', 'Univision'], inplace=True)
d['media_outlet'].replace(['VICE','VICE News', 'Vice', 'Vice news'], ['Vice News','Vice News','Vice News','Vice News'], inplace=True)
d['media_outlet'].replace('Wall Street Journal español', 'Wall Street Journal', inplace=True)

In [25]:
media_names = d['media_outlet'].unique().tolist()
sorted(media_names)

['ABC News',
 'Arizona Daily Star',
 'Arizona Republic',
 'Bloomberg',
 'Business Insider',
 'Business Year',
 'Buzzfeed',
 'CBS News',
 'CNBC',
 'CNN',
 'Chicago Tribune',
 'Christian Science Monitor',
 'Condé Nast',
 'Council on Foreign Relations',
 'Dallas Morning News',
 'Deadline',
 'Denver Post',
 'El Diario de El Paso',
 'El Nuevo Herald',
 'El Paso Times',
 'Esquire',
 'Forbes',
 'Foreign Affairs',
 'Foreign Policy',
 'Fox News',
 'Fusion',
 'GQ',
 'Global Post',
 'Houston Chronicle',
 'Huffington Post',
 'La Opinión',
 'Las Vegas Review Journal',
 'Los Angeles Times',
 'MSNBC',
 'McClatchy',
 'Miami Herald',
 'NBC News',
 'NPR',
 'New York Post',
 'New York Times',
 'New Yorker',
 'Newsday',
 'Newsweek',
 'Politico',
 'Politifact',
 'Quartz',
 'Rolling Stone',
 'Sacramento Bee',
 'San Antonio Express News',
 'San Diego Union Tribune',
 'San Francisco Gate',
 'Slate',
 'Star Telegram',
 'Star Tribune',
 'Stratfor',
 'TIME',
 'Telemundo',
 'The Atlantic',
 'The Daily Beast',
 'The Detroit News',
 'The Hill',
 'USA Today',
 'Univision',
 'Vice News',
 'Wall Street Journal',
 'Washington Post',
 'Washington Times']

In [26]:
len(d['media_outlet'].unique())

67

In [27]:
d.shape

(7815, 25)

In [28]:
d.head()

,week,day_number,weekday,month,media_outlet,tier,correspondent_1,correspondent_2,header,theme,...,official_actor3,unofficial_actor,unofficial_actor2,unofficial_actor3,state,state_2,tendency,printed,front_page,year
0,1,1,Friday,January,La Opinión,3,Gardenia Mendoza Aguilar,False,Neva a 10 bajo cero y… ¡quieren cruzar la fron...,Social/Turismo,...,False,Fronteras Compasivas,Coalición de Derechos Humanos de Tucson,False,Varios,False,Informational,True,True,2016
1,1,1,Friday,January,Wall Street Journal,4,Anthony Richard Harrup,False,"Mexican E-Commerce Grows, but Requires Some Co...",Económico,...,False,Amazon,Linio,Liverpool,False,False,Balanced,False,False,2016
2,1,1,Friday,January,Univision,4,False,False,México estrena número nacional para emergencia...,Presidente,...,False,Cruz Roja,False,False,False,False,Positive,False,False,2016
3,1,2,Saturday,January,San Diego Union Tribune,2,False,False,Suspicious fire destroys vehicles at U.S. Cons...,Social/Turismo,...,PGR,False,False,False,Baja California,False,Informational,False,False,2016
4,1,2,Saturday,January,Fox News,4,False,False,FBI investigating fire that destroyed cars out...,Social/Turismo,...,Preeti Shah,San Diego Union Tribune,False,False,Baja California,False,Informational,False,False,2016

In [29]:
d.drop(columns=['year'], inplace=True)

In [30]:
d['year'] = '2016'

In [31]:
date = d['day_number'].map(str) + '-' + d['month'].map(str) + '-' + d['year'].map(str)
d['date'] = date
d.head()

,week,day_number,weekday,month,media_outlet,tier,correspondent_1,correspondent_2,header,theme,...,unofficial_actor,unofficial_actor2,unofficial_actor3,state,state_2,tendency,printed,front_page,year,date
0,1,1,Friday,January,La Opinión,3,Gardenia Mendoza Aguilar,False,Neva a 10 bajo cero y… ¡quieren cruzar la fron...,Social/Turismo,...,Fronteras Compasivas,Coalición de Derechos Humanos de Tucson,False,Varios,False,Informational,True,True,2016,1-January-2016
1,1,1,Friday,January,Wall Street Journal,4,Anthony Richard Harrup,False,"Mexican E-Commerce Grows, but Requires Some Co...",Económico,...,Amazon,Linio,Liverpool,False,False,Balanced,False,False,2016,1-January-2016
2,1,1,Friday,January,Univision,4,False,False,México estrena número nacional para emergencia...,Presidente,...,Cruz Roja,False,False,False,False,Positive,False,False,2016,1-January-2016
3,1,2,Saturday,January,San Diego Union Tribune,2,False,False,Suspicious fire destroys vehicles at U.S. Cons...,Social/Turismo,...,False,False,False,Baja California,False,Informational,False,False,2016,2-January-2016
4,1,2,Saturday,January,Fox News,4,False,False,FBI investigating fire that destroyed cars out...,Social/Turismo,...,San Diego Union Tribune,False,False,Baja California,False,Informational,False,False,2016,2-January-2016

In [32]:
d['date_object'] = d['date'].astype('datetime64[ns]')

In [33]:
d.drop(columns=['year'], inplace=True)

In [34]:
d['theme'].replace(['Social/turismo'], ['Social/Turismo'], inplace=True)
d['theme'].replace(['Social/Turismo'], ['Social/Tourism'], inplace=True)
d['theme'].replace(['Político'], ['Politics'], inplace=True)
d['theme'].replace(['Presidente'], ['President'], inplace=True)
d['theme'].replace(['Seguridad'], ['Security'], inplace=True)
d['theme'].replace(['Económico'], ['Economics'], inplace=True)
d['theme_2'].replace(['Económico'], ['Economics'], inplace=True)
d['theme_2'].replace(['Político'], ['Politics'], inplace=True)
d['theme_2'].replace(['Presidente'], ['President'], inplace=True)
d['theme_2'].replace(['Social/Turismo'], ['Social/Tourism'], inplace=True)
d['theme_2'].replace(['Social/Político (solo cuando sean recomendaciones o quejas de país y organismo)'], ['Social/Tourism'], inplace=True)
d['theme_2'].replace(['político'], ['Politics'], inplace=True)
d['theme_2'].replace(['Seguridad'], ['Security'], inplace=True)

In [35]:
d['theme_2'].replace(['social/Turismo'], ['Social/Tourism'], inplace=True)
d['theme'].replace(['social/Turismo'], ['Social/Tourism'], inplace=True)

In [36]:
theme_one = d['theme'].unique().tolist()
sorted(theme_one)

['Economics', 'Politics', 'President', 'Security', 'Social/Tourism']

In [38]:
media_month = d.groupby(['media_outlet', 'month']).size().rename('media_month')
print(media_month)

media_outlet         month
ABC News             April         3
                     August       13
                     December      9
                     February      4
                     January       6
                     July          2
                     June          1
                     March         4
                     May           3
                     November      4
                     October       1
                     September     6
Arizona Daily Star   April         2
                     August        9
                     December      5
                     February      3
                     January       4
                     July          6
                     March         6
                     May           4
                     November      6
                     October       9
                     September     7
Arizona Republic     August        1
                     February      1
                     July          1
                     June          1
                     May           1
                     October       1
Bloomberg            April        51
                                  ..
Vice News            September    33
Wall Street Journal  April        40
                     August       36
                     December     42
                     February     51
                     January      49
                     July         18
                     June         33
                     March        22
                     May          22
                     November     69
                     October      38
                     September    39
Washington Post      April        16
                     August       20
                     December     18
                     February     23
                     January      24
                     July          8
                     June         20
                     March        13
                     May          16
                     November     37
                     October      21
                     September    39
Washington Times     April         1
                     December      1
                     July          1
                     October       1
                     September     1
Name: media_month, Length: 479, dtype: int64

In [39]:
d2 = d.join(media_month, on=['media_outlet','month'])

In [40]:
media_year = d2.groupby(['media_outlet']).size().rename('media_year')

In [41]:
print(media_year)

media_outlet
ABC News                          56
Arizona Daily Star                61
Arizona Republic                   6
Bloomberg                        711
Business Insider                   1
Business Year                      1
Buzzfeed                           1
CBS News                          71
CNBC                              77
CNN                              477
Chicago Tribune                   66
Christian Science Monitor         62
Condé Nast                         3
Council on Foreign Relations      14
Dallas Morning News              129
Deadline                           1
Denver Post                        1
El Diario de El Paso               1
El Nuevo Herald                   48
El Paso Times                      1
Esquire                            1
Forbes                           262
Foreign Affairs                    7
Foreign Policy                    35
Fox News                         293
Fusion                           237
GQ                                 1
Global Post                       20
Houston Chronicle                127
Huffington Post                  880
                                ...
NPR                               76
New York Post                      2
New York Times                   355
New Yorker                        26
Newsday                            1
Newsweek                          38
Politico                           6
Politifact                         1
Quartz                             1
Rolling Stone                      1
Sacramento Bee                     1
San Antonio Express News          80
San Diego Union Tribune          119
San Francisco Gate                 1
Slate                              1
Star Telegram                      1
Star Tribune                       1
Stratfor                           1
TIME                              90
Telemundo                          5
The Atlantic                      58
The Daily Beast                   82
The Detroit News                   1
The Hill                           3
USA Today                         91
Univision                       1094
Vice News                        242
Wall Street Journal              459
Washington Post                  255
Washington Times                   5
Name: media_year, Length: 67, dtype: int64

In [42]:
d3 = d2.join(media_year, on=['media_outlet'])

In [43]:
d3.head()

,week,day_number,weekday,month,media_outlet,tier,correspondent_1,correspondent_2,header,theme,...,unofficial_actor3,state,state_2,tendency,printed,front_page,date,date_object,media_month,media_year
0,1,1,Friday,January,La Opinión,3,Gardenia Mendoza Aguilar,False,Neva a 10 bajo cero y… ¡quieren cruzar la fron...,Social/Tourism,...,False,Varios,False,Informational,True,True,1-January-2016,2016-01-01,53,688
1,1,1,Friday,January,Wall Street Journal,4,Anthony Richard Harrup,False,"Mexican E-Commerce Grows, but Requires Some Co...",Economics,...,Liverpool,False,False,Balanced,False,False,1-January-2016,2016-01-01,49,459
2,1,1,Friday,January,Univision,4,False,False,México estrena número nacional para emergencia...,President,...,False,False,False,Positive,False,False,1-January-2016,2016-01-01,103,1094
3,1,2,Saturday,January,San Diego Union Tribune,2,False,False,Suspicious fire destroys vehicles at U.S. Cons...,Social/Tourism,...,False,Baja California,False,Informational,False,False,2-January-2016,2016-01-02,16,119
4,1,2,Saturday,January,Fox News,4,False,False,FBI investigating fire that destroyed cars out...,Social/Tourism,...,False,Baja California,False,Informational,False,False,2-January-2016,2016-01-02,31,293

In [44]:
tendency_count_month = d3.groupby(['month','tendency']).size().rename('tendency_month')
print(tendency_count_month)

month      tendency
April      Balanced          90
           Informational    106
           Negative         186
           Positive         181
August     Balanced         105
           Informational    105
           Negative         318
           Positive         115
December   Balanced         189
           Informational     70
           Negative         249
           Positive         198
February   Balanced         128
           Informational    175
           Negative         269
           Positive         194
January    Balanced         146
           Informational    159
           Negative         211
           Positive         268
July       Balanced          67
           Informational     76
           Negative         162
           Positive         129
June       Balanced          82
           Informational    109
           Negative         217
           Positive         140
March      Balanced          83
           Informational     92
           Negative         132
           Positive         184
May        Balanced         108
           Informational    114
           Negative         162
           Positive         141
November   Balanced         298
           Informational     60
           Negative         320
           Positive         138
October    Balanced         198
           Informational     66
           Negative         238
           Positive         198
September  Balanced         214
           Informational     99
           Negative         358
           Positive         168
Name: tendency_month, dtype: int64

In [45]:
d4 = d3.join(tendency_count_month, on=['month','tendency'])

In [46]:
d4.head()

,week,day_number,weekday,month,media_outlet,tier,correspondent_1,correspondent_2,header,theme,...,state,state_2,tendency,printed,front_page,date,date_object,media_month,media_year,tendency_month
0,1,1,Friday,January,La Opinión,3,Gardenia Mendoza Aguilar,False,Neva a 10 bajo cero y… ¡quieren cruzar la fron...,Social/Tourism,...,Varios,False,Informational,True,True,1-January-2016,2016-01-01,53,688,159
1,1,1,Friday,January,Wall Street Journal,4,Anthony Richard Harrup,False,"Mexican E-Commerce Grows, but Requires Some Co...",Economics,...,False,False,Balanced,False,False,1-January-2016,2016-01-01,49,459,146
2,1,1,Friday,January,Univision,4,False,False,México estrena número nacional para emergencia...,President,...,False,False,Positive,False,False,1-January-2016,2016-01-01,103,1094,268
3,1,2,Saturday,January,San Diego Union Tribune,2,False,False,Suspicious fire destroys vehicles at U.S. Cons...,Social/Tourism,...,Baja California,False,Informational,False,False,2-January-2016,2016-01-02,16,119,159
4,1,2,Saturday,January,Fox News,4,False,False,FBI investigating fire that destroyed cars out...,Social/Tourism,...,Baja California,False,Informational,False,False,2-January-2016,2016-01-02,31,293,159

In [47]:
tendency_count_year = d4.groupby(['tendency']).size().rename('tendency_year')
print(tendency_count_year)

tendency
Balanced         1708
Informational    1231
Negative         2822
Positive         2054
Name: tendency_year, dtype: int64

In [48]:
d5 = d4.join(tendency_count_year, on=['tendency'])

In [49]:
theme_month = d5.groupby(['theme','month']).size().rename('theme_month')
print(theme_month)

theme           month
Economics       April         93
                August        97
                December     242
                February     116
                January      110
                July          72
                June          84
                March         76
                May           82
                November     249
                October      135
                September    169
Politics        April        145
                August        85
                December     126
                February     302
                January       54
                July          90
                June         187
                March        116
                May           89
                November     272
                October      180
                September    167
President       April         40
                August       155
                December      15
                February      59
                January       12
                July          37
                June          53
                March         16
                May           21
                November      49
                October       18
                September    185
Security        April        189
                August       180
                December     118
                February     209
                January      518
                July         144
                June         157
                March        174
                May          250
                November     103
                October      173
                September    156
Social/Tourism  April         96
                August       126
                December     205
                February      80
                January       90
                July          91
                June          67
                March        109
                May           83
                November     143
                October      194
                September    162
Name: theme_month, dtype: int64

In [50]:
d6 = d5.join(theme_month, on=['theme','month'])

In [51]:
theme_year = d6.groupby(['theme']).size().rename('theme_year')
print(theme_year)

theme
Economics         1525
Politics          1813
President          660
Security          2371
Social/Tourism    1446
Name: theme_year, dtype: int64

In [52]:
d7 = d6.join(theme_year, on=['theme'])

In [53]:
month_count = d7.groupby(['month']).size().rename('month_count')
print(month_count)

month
April        563
August       643
December     706
February     766
January      784
July         434
June         548
March        491
May          525
November     816
October      700
September    839
Name: month_count, dtype: int64

In [54]:
d8 = d7.join(month_count, on=['month'])

In [55]:
d8.shape

(7815, 33)

In [56]:
d8['total_count'] = 7815

In [57]:
d8['tendency_year_percentage'] = d8['tendency_year']/7815
d8['theme_year_percentage'] = d8['theme_year']/7815
d8['tendency_month_percentage'] = d8['tendency_month']/d8['month_count']
d8['theme_month_percentage'] = d8['theme_month']/d8['month_count']

In [58]:
d8.head()

,week,day_number,weekday,month,media_outlet,tier,correspondent_1,correspondent_2,header,theme,...,tendency_month,tendency_year,theme_month,theme_year,month_count,total_count,tendency_year_percentage,theme_year_percentage,tendency_month_percentage,theme_month_percentage
0,1,1,Friday,January,La Opinión,3,Gardenia Mendoza Aguilar,False,Neva a 10 bajo cero y… ¡quieren cruzar la fron...,Social/Tourism,...,159,1231,90,1446,784,7815,0.157518,0.185029,0.202806,0.114796
1,1,1,Friday,January,Wall Street Journal,4,Anthony Richard Harrup,False,"Mexican E-Commerce Grows, but Requires Some Co...",Economics,...,146,1708,110,1525,784,7815,0.218554,0.195138,0.186224,0.140306
2,1,1,Friday,January,Univision,4,False,False,México estrena número nacional para emergencia...,President,...,268,2054,12,660,784,7815,0.262828,0.084453,0.341837,0.015306
3,1,2,Saturday,January,San Diego Union Tribune,2,False,False,Suspicious fire destroys vehicles at U.S. Cons...,Social/Tourism,...,159,1231,90,1446,784,7815,0.157518,0.185029,0.202806,0.114796
4,1,2,Saturday,January,Fox News,4,False,False,FBI investigating fire that destroyed cars out...,Social/Tourism,...,159,1231,90,1446,784,7815,0.157518,0.185029,0.202806,0.114796

In [59]:
d8.to_csv("all_news_16.csv", index=False)